@import '../../../utils/cssUtils.scss';

#cardContainer{
    min-width: 25%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    box-sizing: border-box;
}

.descripcionContainer{
    word-wrap: break-word;
    width: 100%;
}

.story{
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #111;
    border-radius: 4px;
    padding: 16px;
    flex-wrap: wrap;
    box-sizing: border-box;
    &:hover{
        transition: .5s;
        background-color: #181818;

    }
    transition: .5s;
}

.marked {
    text-decoration: line-through;
}

.checkbox{
    transform: scale(2);
    margin-right: 1rem;

}

.fechaPasada{
    color: $error-color;
}

.fechaGreen{
    color: $success-color;
}

.editButon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: none;
    outline: none;
}

.inputAndName{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 2rem;
}

.divisor{
    width: 100%;
    border: 1px solid #222222;
}


@media (max-width: 768px) {
    #cardContainer{
        width: 90%;
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    #cardContainer{
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.setBlur{
    filter: blur(2px);
    transition: .5s;
}

.editDel{
    display: flex;

}

#textAndButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}