#contenedorTarea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #4E4E4E;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 8px;
}



h2{
    margin: 8px;
    font-size: medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.check{
    text-decoration: line-through;
}


@media (max-width: 768px) {
    /* Cambiar estilos para pantallas más pequeñas */
    #contenedorTarea{
        margin: 8px;
        width: calc(100%-16px);

    }
  }

  
@media (min-width: 768px) {
    /* Cambiar estilos para pantallas más pequeñas */
    #contenedorTarea{
        width: calc(100%-16px);
    }
  }