
#PrinDivProject{
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1vh;
}

#formContainer{
    position: relative;
    background-color: #353535;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: auto;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.input{
    height: 2vh;
    outline: none;
    border: black 1px;
    border-radius: 4px;
    padding: 2vh;
}