#PrinDivProject{
    width: 100%;
    display: flex;
    justify-content: center;
}



#CardContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.card{
    width: 70%;
    padding: 3rem;    
    background-color: #121212;
    margin-top: 2rem;
    border-radius: 4px;
}

.aLink{
    width: 100%;
}

#projectInfo{
    width: 100vw;
    margin-left: 2vw;
    justify-content: start;
    text-align: start;
    color: rgb(223, 223, 223);
}

@media (max-width: 768px) {
    #CardContainer{
        flex-direction: column;
    }    
}

@media (min-width: 768px) {
    #CardContainer{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }    
    .card{
        box-sizing: border-box;
        width: 20rem;
    }
}