.userInfoCont{
    display: flex;
    flex-direction: column;
    background-color: #121212;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    width: auto;
}

.infoContp{
    display: flex;
    flex-direction: row;
}

#prinCont{
    display: flex;
    justify-content: center;
    align-items: center;
}