$background-primary: #121212;
$background-secondary: #222222;
$text-primary: #e0e0e0;
$text-secondary: #2c2c2c;
$accent-color: #bb86fc;
$success-color: #03daa4;
$error-color: #f8748c;
$border-color: #f7f7f7;