#PrinDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#secDiv{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    height: auto;
    width: auto;
}

#iconCont{
    display: flex;
    flex-direction: row;
}

#buton{
    display: flex;
    background: none;
    outline: none;
    border: none;
    height: auto;
    width: auto;
}

#FloatInfo{
    position: absolute;
    background-color:rgb(61, 61, 61);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    border-radius: 4px;
}

@media (min-width: 768px) {
    #buton{
        box-sizing: border-box;
        width: 20rem;
        max-height: 10rem;
        min-height: 10rem;
    }
}