@import '../../../utils/cssUtils.scss';
#deleteButon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: none;
    outline: none;
}


#floatingDiv{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: $border-color 1px solid;
    border-radius: 16px;
    z-index: 15;
    color: $text-primary;
}

#butonCont{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.5rem;
    button{
        border: none;
        outline: none;
    }
}

#yesButton{
    background-color: $success-color;
}


#noButton{
    background-color: $error-color;
}