#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;

}

#ventanaPrin{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  top: 0;
}
