#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#ventanaPrin{
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
}


@media (max-width: 768px) {
  /* Cambiar estilos para pantallas más pequeñas */
  #ventanaPrin {
    width: 100vw;
  }
}