#PrinDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 15vh;
    padding-left: 2rem;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#HeaderH1{
    font-size: 3vw;
    margin-left: 2rem;
}

#HeaderButton{
    background-color: #E2E2E2;
    color: #222222;
}

@media (max-width: 768px) {
    #HeaderH1{
        flex-direction: column;
        font-size: 3vh;
    }    
}